:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
}

body{
    color: var(--primary-text-color);
    background-color: #E5E5E5;
  
}

/* Хедер */

.header {
    background-color: var(--primary-white-color);
}

.header-logo {
    color: #000000;
}

.logo-accent {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}


/* Герой */

.hero {
  background-color: #2F303A;
}

.hero-title {
  color: var(--primary-white-color);
}


/* Качества */

.features-list .title{
    color: var(--title-text-color);
}

/* Чем занимаемся */

.activity .activity-title {
    color: var(--title-text-color)
}

/* Наша команда */

.team {
    background-color: #F5F4FA;
}

.team .team-title {
    color: var(--title-text-color)
}

.team-list .subtitle{
    color: var(--title-text-color);
}

/* Футер */

.footer {
    background-color: #2F303A;;
}

.footer-logo {
    color: var(--primary-white-color);
}

.adress .adress-point{
    color: var(--primary-white-color);
}

.adress .adress-link{
    color: rgba(255, 255, 255, 0.6);;
}

/* Кнопки */

.button {

}

.button.primary {
color: var(--primary-white-color)
;
background-color: var(--accent-color);
}

.button.secondary {
    color: var(--title-text-color);
    background-color: #F5F4FA;
}

.button-list .button.secondary:hover,
.button-list .button.secondary:focus {
color: var(--primary-white-color);
background-color: var(--accent-color);
}

/* Страница портфолио */

.projects-list .title {
    color: var(--title-text-color);
}